@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  width: 100%;
  height: 100%;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 173 96% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 173 96% 48%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 173 96% 48%;
    --radius: 0.75rem;

    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 173 96% 48%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 173 96% 48%;
  }

  .dark {
    --background: 0 0% 3%;
    --foreground: 0 0% 100%;
    --card: 208 17% 11%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;
    --primary: 173 96% 48%;
    --primary-foreground: 208 17% 11%;
    --secondary: 208 15% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 208 15% 10%;
    --muted-foreground: 208 10% 45%;
    --accent: 173 96% 48%;
    --accent-foreground: 0 0% 3%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 15% 10%;
    --input: 208 15% 10%;
    --ring: 173 96% 48%;

    --sidebar-background: 0 0% 3%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 173 96% 48%;
    --sidebar-primary-foreground: 0 0% 3%;
    --sidebar-accent: 208 17% 11%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 208 15% 10%;
    --sidebar-ring: 173 96% 48%;
  }
}


@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-12 md:py-24 lg:py-32;
  }
}

@layer components {
  @media (min-width: 768px) {
    body[data-sidebar-state='expanded'] .main-content {
      margin-left: 16rem;
    }
    body[data-sidebar-state='collapsed'] .main-content {
      margin-left: 3rem;
    }
  }
}
