@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.main-content {
  width: 100%;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 173 96% 48%; /* #07f1d6 */
    --primary-foreground: 208 17% 11%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 173 96% 48%; /* #07f1d6 */
    --accent-foreground: 208 17% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 173 96% 48%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 228 9% 4%; /* #070707 */
    --foreground: 0 0% 100%; /* #ffffff */
    --card: 219 12% 10%; /* #161C21 */
    --card-foreground: 0 0% 100%; /* #ffffff */
    --popover: 228 9% 4%; /* #070707 */
    --popover-foreground: 0 0% 100%; /* #ffffff */
    --primary: 173 96% 48%; /* #07f1d6 */
    --primary-foreground: 208 17% 11%;
    --secondary: 219 12% 10%; /* #161C21 */
    --secondary-foreground: 0 0% 100%; /* #ffffff */
    --muted: 219 10% 9%; /* #14181B */
    --muted-foreground: 215 15% 65%;
    --accent: 173 96% 48%; /* #07f1d6 */
    --accent-foreground: 208 17% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 219 10% 9%; /* #14181B */
    --input: 219 10% 9%; /* #14181B */
    --ring: 173 96% 48%;
  }

  .dark {
    --sidebar-background: 228 9% 4%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 173 96% 48%;
    --sidebar-primary-foreground: 208 17% 11%;
    --sidebar-accent: 219 12% 10%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 219 10% 9%;
    --sidebar-ring: 173 96% 48%;
  }
}


@layer base {
  * {
    @apply border-border;
    box-sizing: border-box;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply w-full py-12 md:py-24 lg:py-32;
  }
}
